a {
	cursor: pointer;	
	text-decoration: underline;
}

a:visited {
	color: black;
}

a.nav {
	margin-left: 10px;
	margin-right: 10px;
}

a.nav:hover {
	transform: scale(1.025);
}

a.nav:active {
	transform: scale(1.000);
}

.App-container {
	position: absolute;
	top: 5px;
	bottom: 5px;
	width: 100%;
/*	background: #e0f7fa;*/
	display: flex;
	align-content: center;
	justify-content: center;
}

.center {
	margin: auto;
}

.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
}

.flex-container.welcome {
	flex-direction: column;
}


.hor-line-thick {
	height: 1px;
	width: 90%;
	max-width: 900px;
	margin: 20px auto;
	
	background: black;
	opacity: .25;
}

.hor-line-thin {
	height: 1px;
	background: white;
	margin: 10px auto;
/*	opacity: .25;*/
}

img.profile {
	border-radius: 50%;
	height: 300px;
	width: 300px;	
}

img.project-img {
	width: 90%;
	max-width: 900px;
}

.navbar.welcome {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
  margin-bottom: 20px
}

p.project-p {
	width: 90%;
}

p.welcome {
	max-width: 600px;
}

table {
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
}

table.project-headline {
  font-size: 3em;
  margin-top: 30px;
}

table.project-subHeadline {
	margin-top: 10px;
	
	font-size: 2em;
	color: grey;
}

table.project-subSubHeadline {
	margin-top: 20px;
	
	font-size: 1em;
	color: black;
}

table.project-text {
	text-align: left;
}

td.headline {
	vertical-align: center;
  text-align: center;
}
