* {
	font-weight: 300;
}

a {
	cursor: pointer;	
	text-decoration: underline;
	font-weight: 300;
	color: black;
}

a:visited {
	color: black;
}

a.nav {
	margin-left: 10px;
	margin-right: 10px;
}

a.nav:hover {
	opacity: 0.5;
}

.App-container {
	position: absolute;
	top: 5px;
	bottom: 5px;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.center {
	margin: auto;
}

.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
}

.flex-container.welcome {
	flex-direction: column;
	
}

.flex-container.card {
	flex-direction: column;
}

.hor-line-thin {
	height: 1px;
	background: white;
	margin: 10px auto;
}

img.project-continue {
	width: 50px;
	cursor: pointer;
}

p.project-p {
	width: 90%;
}

.project-img-hover {
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.25s ease-out;
}

.project-img-hover:hover {
	opacity: 0.5;
}

.tabOpen {
	background: lightgrey;
}

table.project-card {
	padding: 0;
	margin-bottom: 20px;
	max-width: 800px;
	box-shadow: 2px 1px 5px 1px black; /* h-shadow v-shadow blur spread color */
}

table.project-headline {
  font-size: 3em;
  margin-top: 30px;
}

table.project-subSubHeadline {
	margin-top: 20px;
	
	font-size: 1em;
	color: black;
}

#contact-container {
	
}

/*   KEYFRAMES   */
@keyframes rise {
  0% {
  	transform: translateY(100px);  
		opacity: 0;
  }
  100% {
  	transform: translateY(0px);  
		opacity: 1;
  }
}

@keyframes fall {
  0% {
  	transform: translateY(-50px);  
		opacity: 0;
  }
  100% {
  	transform: translateY(0px);  
		opacity: 1;
  }
}

@keyframes slide-fade {
  0% {
  	transform: translateX(-100px);
		opacity: 0;
  }
  100% {
		opacity: 1;
  	transform: translateX(0px);  
  }
}

@keyframes spin {
  0% {
  	transform: rotate(180deg)  
  }
  100% {
  	transform: rotate(0deg)  
  }
}

/*   ParticlesJS   */
canvas {
	display: block; 
	vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
#particles-js { 
	position:absolute; 
	width: 100%; 
	height: 100%; 
	background-color: #b61924; 
	background-image: url(""); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50% 50%; 
} 